.nav2 p {
  display: inline-block;
  margin-left: 10px;
  text-align: left;
  font-size: 11px;
  color: white;
}
.nav2 {
  background-color: gray;
  margin-top: 2px;
}
}
.nav {
  font-size: 18px;
  color: white;
}
h1 {
  color: White;
  font-size: 70px;
  font-weight: bold;
}
a {
  color: white;
}
.body {
  text-align: center;
}
.header, #header {
  background-image: url("../pictures/the-flatiron-building.png");
  color: white;
}
#header {
  font-size: 23px;
  font-weight: bold;

}
body {
  font-family: Helvetica;
}
